@charset "utf-8";

/* header */
.header {
   height: 32px; 
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 10px 24px 0;
}

.header-image {
    display: inline-block;
    width: 10%;
    height: 100%;
}

.header-nav-lists {
    display: flex;
}

.header-nav-list {
    margin-left: 16px;
    color: rgba(156, 160, 163, 0.966);
}

/* mainここから */

/* first-view */
.main {
    width: 100%;
    height: 100%;
}

.first-view {
  width: 100%;
}

.first-view-title {
    font-family:'Gorditas', cursive;
}

.first-view-image {
    width: 60%;
    float: right;
}